*{
	margin: 0px;
	padding: 0px;
}
body,html{
	height: 100%;
}
#head{
	background: url("../images/universe.jpeg") no-repeat;
	background-size: 100%;
	background-position: 0px 95%;
	height: 150px;
}
.headMain{
	width: 50%;
	height: 100%;
	margin: auto;
}

#main{
	width: 50%;
	margin: auto;
	height: 92%;
	background: #fff;
	border: solid #000 1px;
}
.head{
	border: solid 1px #000;
	height: 30px;
}
